<h2>Add Item</h2>

<form method="post">
    <input type="number" name="weight" placeholder="Enter weight" required />
    <button>Add</button>
</form>

<p style="color:red;">@ViewBag.Error</p>

<a href="/Item">Back</a>